<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Главная</title>
</head>
<body>
    <div class="header">
        <div class="menu">
            <ul id="navbar">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/books">Все книги</a>
                </li>
                <li>
                    <a href="/book-save">Сохранить книгу</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <p>
            Это главная страница данного сайта.
            На данном сайте можно посмотреть все добавленные книги, 
            узнать их цену и перейти на конкретную книгу.
        </p>
    </div>
    <div class="footer">

    </div>
</body>
</html>